h1{
    text-align: center;
    color: #2b669a;
}

#login{
    margin: 8px;
}

#login input{
    margin-bottom: 5px;
}

#container_principal{
    outline: 2px solid rgba(20,20,20,0.1);
    border-radius: 25px;
}

hr.separator{
    border-top: 1px solid #8c8b8b;
}

footer{
    position:absolute;
    bottom:0px;
    margin: 0px auto;
}

footer p{
    text-align: center;
}